@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Give+You+Glory|Merienda:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-----------------------------------------------------------colors*/

body {
    background-color: black;
}

.bg-color-listen {
    background-color: rgba(0, 0, 255, 0.1);
}

.bg-color-gigs {
    background-color: rgba(0, 255, 255, 0.1);
}

.bg-color-bookings {
    background-color: rgba(255, 0, 0, 0.1);
}

.bg-color-3opt-listen {
    background-color: #2c252e;
    border-style: groove;
    border-color: white;
}

.bg-color-buy-music {
    background-color: #f6f6f6;
}

.ul-3-opt-nav-colour-gig {
    background-color: #42407B;
}

.ul-3-opt-nav-colour-book {
    background-color: #67407B;
}

/*-----------------------------------------------------------globals*/

.spacer {
    margin-bottom: 50px;
}

/*-----------------------------------------------------------index header*/

.landing-page-section {
    height: 100vh;

    background: url(/assets/images/violin-lights.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
}

.border-box {
    border-style: groove;
    border-color: rgba(0, 0, 120, 0.1);
    padding: 30px;
    margin: auto;
    background-color: rgba(0, 0, 210, 0.1);
}

.trypsy-heading {
    text-align: center;
    font-size: 3.5em;
    letter-spacing: 1.3em;
    font-family: "Roboto";
    color: #cccccc;
    text-decoration: none;
    padding-top: 20px;
}

.small-header {
    width: 100%;
    background-color: black;
}

.trypsy-heading-small {
    font-size: 1.2em;
    letter-spacing: .3em;
    font-family: "Roboto";
    color: #cccccc;
    text-decoration: none;
    padding-top: 5px;
    float: left;
    padding-left: 10px;
}


.trypsy-descriptor {
    text-align: center;
    font-size: 1.8em;
    font-family: "Roboto";
    letter-spacing: 0.3em;
    color: #cccccc;
    padding-top: 20px;
    padding-left: 30px;
}

.btn-default {
    width: 10em;
    color: #989898;
    border-radius: 3em;
}

.center-align {
    float: center;
}

.social-links li a i {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    line-height: 2em;
    text-align: center;
    color: #fafafa;
    background-color: #989898;
}

.social-links li a i:hover {
    background-color: #e84610;
    color: #9932CC;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.links-wrapper {
    padding-top: 3em;
    margin: auto;
}

h1,
h4 {
    margin: 0;
}

.line-seperator hr {
    color: grey;
}

/*-----------------------------------------------------------side-bar slider nav*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Roboto";
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/* --------------------this class isn't working*/

.sidenav.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}

.explore-btn-style {
    margin: 20px 20px 20px 20px;
    color: white;
    border-color: white;
    font-size: 1.5em;
}

/*-----------------------------------------------------------landing-page-3-options-nav*/

.listen-text {
    font-size: 1em;
    font-family: "Roboto";
    letter-spacing: 0.1em;
    text-align: left;
    color: white;
}

.gigs-text {
    font-size: 1em;
    font-family: "Roboto";
    letter-spacing: 0.1em;
    text-align: left;
    color: white;
}

.bookings-text {
    font-size: 1em;
    font-family: "Roboto";
    letter-spacing: 0.1em;
    text-align: left;
    color: white;
}

.listen-icon,
.gigs-icon,
.bookings-icon,
i a {
    font-size: 2em;
    color: white;
    letter-spacing: 0.1em;
    text-align: left;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

/*-----------------------------------------------------------listen.html page*/

.menuItem {
    text-align: center;
    padding: 0;
    height: 120px;
}

.menuItem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuItem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuItem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 2px;
}

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

.BKG {
    background-color: #2c252e;
    border-radius: 2px;
}

.p-text {
    color: #C0C0C0;
    font-size: 3.5em;
    padding-left: 100px;
    font-family: 'Give You Glory', cursive;
}

.p-text-small {
    color: #C0C0C0;
    font-size: 1.5em;
    font-family: 'Give You Glory', cursive;
}

.listen-tt {
    padding-left: 10px;
}

.section-block {
    padding-left: 50px;
    padding-right: 50px;
}

.header-container {
    background: url(/assets/images/overhead.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    margin: 50px;
    padding: 50px;
    border-radius: 5px;
}

.p-container {
    background: url(/assets/images/glowBKG.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 100px;
    padding-top: 100px;
    border-radius: 5px;
}

.bottom-btns {
    margin: 1em 0em 0em 0em;
}

.btnRadius {
    border-radius: .5em;
}

.btn-pre-navStyle {
    font-size: 1em;
    color: #cccccc;
    letter-spacing: 0.1em;
    text-align: left;
}

.social-listen li a i {
    font-size: 1.5em;
    text-align: center;
    color: white;
}

.social-listen li a i:hover {
    color: orange;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.soundcloud-links li a i {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    line-height: 1.5em;
    margin-top: 1em;
    margin-right: 1em;
    text-align: center;
    color: #fafafa;
    background-color: orange;
}

.soundcloud-links li a i:hover {
    background-color: #e84610;
    color: #9932CC;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*-----------------------------------------------------------gigs.html*/

.upcoming-gigs-container {
    background-color: #EFEEDE;
    display: flex;
    margin: 10px;
}

.date-box-gigs {
    background-color: #DAE5EF;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.venue-box-gigs {
    background-color: #EFDAE2;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.ticket-box-gigs {
    background-color: #E7EFDA;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.ticket-box-gigs a {
    text-decoration: none;
}

.gig-listings {
    padding: 1em;
}

.gigPg-heading {
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.gig-links {
    text-align: right;
}

/*-----------------------------------------------------------bookings.html*/

.header-container-bookings {
    background: url(/assets/images/castle.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    margin: 20px;
    padding: 150px;
    border-radius: 5px;
}

.footer-container-bookings {
    background: url(/assets/images/castle.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    margin: 20px;
    padding: 150px;
    border-radius: 5px;
}

.formbox {
    padding-left: 250px;
}

.section-container-bookings {
    margin: 80px;
    padding: 80px;
}

.form-marginStyle {
    margin-top: 20px;
}

.download-text p {
    color: white;
    text-align: right;
    text-decoration: none;
}

.message-input-radius {
    border-width: thin;
    border-radius: .5em;
    border-color: #e7e7e7;
}

/*-----------------------------------------------------------about.html*/

.about-section-image {
    height: 50vh;

    background: url(/assets/images/trypsy.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
}

.paragraph-about p {
    font-family: "Roboto";
    font-size: 40px;
    color: white;
    padding: 10px 10px 10px 10px;

}

.member-name {
    padding-bottom: 10px;
}

.member-p {
    padding-bottom: 10px;
}

/*-----------------------------------------------------------music*/

.buy-music {
    background-color: #f6f6f6;
}

.scale-icon {
    padding-left: 10px;
}

.music-download-icon {
    padding-left: 10px;
}

/*-----------------------------------------------------------contact*/

.connect-links li a i {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    line-height: 2.3em;
    text-align: center;
    font-size: 2em;
    color: #fafafa;
    background-color: #989898;
}

.connect-links li a i:hover {
    background-color: #e84610;
    color: #9932CC;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.bg-color-connect {
    background-color: #BA55D3;
}

.connect-header {
    text-align: center;
    color: #ffffff;
}

.connect-position li a i {
    float: center;
}

/*-----------------------------------------------------------images*/

.trypsy-about-image {
    padding: 10px 10px 10px 10px;
}

/*-----------------------------------------------------------animations & transitions*/

.bookings-text {
    transition: all .2s ease-in-out;
}

.bookings-text:hover {
    transform: scale(1.1);
    color: #ffffff;
}

.listen-text {
    transition: all .2s ease-in-out;
}

.listen-text:hover {
    transform: scale(1.1);
    color: #ffffff;
}

.gigs-text {
    transition: all .2s ease-in-out;
}

.gigs-text:hover {
    transform: scale(1.1);
    color: #ffffff;
}

.btm-btn-hover {
    transition: all .2s ease-in-out;
}

.btm-btn-hover:hover {
    transform: scale(1.1);
    color: #ffffff;
}

/*-----------------------------------------------------------footer*/

.footer-text {
    color: white;
    font-size: 1em;
    padding: 0.5em;
}

.social-links-footer {
    padding: 0.5em;
    letter-spacing: 0.1em;
    float: right;
}

.footer-container {
    background-color: black;
    margin-top: 20px;
    padding: 20px;
}

/*-----------------------------------------------------------placholder*/
.section-under-construction{
    padding:150px;
    background-color: white;
}

.text-under-construction{
    padding:30px;
}

/*-----------------------------------------------------------media-queries*/

@media only screen and (max-width: 991px) {
    .formbox {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .trypsy-heading {
        font-size: 2.6em;
        letter-spacing: 0.9em;
        font-family: "Roboto";
        text-align: center;
        color: white;
        text-decoration: none;
        padding-top: 20px;
    }

    .trypsy-descriptor {
        font-size: 1.5em;
        font-family: "Roboto";
        letter-spacing: 0.2em;
        color: #C0C0C0;
        padding-top: 20px;
        padding-left: 30px;
    }

    .border-box {
        border-style: groove;
        border-color: rgba(0, 0, 120, 0.1);
        padding: 1px;
        margin: auto;
        background-color: rgba(0, 0, 210, 0.1);
    }

    .header-container {
        background: url(/assets/images/overhead.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        display: flex;
        align-items: center;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
    }

    .p-container {
        background: url(/assets/images/glowBKG.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 5px;
    }

    .p-text {
        color: #333333;
        font-size: 2.5em;
        padding-left: 100px;
        font-family: 'Give You Glory', cursive;
    }

    .social-links-footer {
        text-align: center;
    }

    .footer-text {
        color: white;
        font-size: 1em;
        padding: 0.5em;
        text-align: center;
    }

    .section-container {
        margin: 10px;
        padding: 10px;
    }

    .listen-tt {
        padding: 5px;
    }

    .section-block {
        padding: 5px;
    }

    .formbox {
        padding-left: 0px;
    }

    .footer-container-bookings {
        background: url(/assets/images/castle.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        display: flex;
        align-items: center;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
    }

    .header-container-bookings {
        background: url(/assets/images/castle.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        display: flex;
        align-items: center;
        margin: 5px;
        border-radius: 5px;
    }

    .section-container-bookings {
        margin: 10px;
        padding: 10px;
    }
}


@media only screen and (max-width: 400px) {
    .trypsy-heading {
        font-size: 2em;
        letter-spacing: 0.9em;
        font-family: "Roboto";
        text-align: center;
        color: white;
        text-decoration: none;
        padding-top: 20px;
    }

    .trypsy-descriptor {
        font-size: 1em;
        font-family: "Roboto";
        letter-spacing: 0.2em;
        color: #C0C0C0;
        padding-top: 20px;
        padding-left: 30px;
    }

    .border-box {
        border-style: groove;
        border-color: rgba(0, 0, 120, 0.1);
        padding: 1px;
        margin: auto;
        background-color: rgba(0, 0, 210, 0.1);
    }

}

@media only screen and (max-width:1110px) and (min-width:990px) {
    .trypsy-heading {
        font-size: 2.5em;
        letter-spacing: 0.9em;
        font-family: "Roboto";
        text-align: center;
        color: white;
        text-decoration: none;
        padding-top: 20px;
    }
}

/*-----------------------------------------------------------end landing-pg media-queries*/
